---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Linktree Clone</title>
  </head>
  <body class="bg-[#f1c54b] dark:bg-[#282828] text-black dark:text-[#f1c54b]">
    <main class="max-w-[580px] mx-auto my-24">
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    overflow-x: hidden;
    font-family: system-ui;
  }
</style>
